.browseWrapper {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid rgba(173, 132, 132) 3px;
    margin: 5px auto;
   width: 500px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    left: 0; right: 0;
    
}

.dietType, .dietaryRestrictions, .healthType {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 17px;
}

a {
    margin: 5px;
}

.title {
    border-bottom: solid 1px lightgray;
    font-weight: bold;
    font-size: 20px;
}