<div class="favorites-container">
  <div class="no-favorites" *ngIf="favorites.length === 0">
    No Favorites Yet!
  </div>
  <div class="favorite-recipes-container">
    <!-- For Delia. Created a div here that will now take our favorites array from the get method in our 'favorites-page.ts' 
    and iterate through all of the items in it. -->
    <div
      class="individualFavoriteRecipe"
      *ngFor="let item of favorites; let i = index"
      (click)="showPopUp = !showPopUp"
    >
      <div
        class="picture"
        [style.background-image]="'url(' + favorites[i].recipe.image + ')'"
      ></div>
      <div class="name">{{ favorites[i].recipe.label }}</div>
      <div class="trash-container">
        <button class="trash" (click)="removeFavorite(i)">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
    <app-recipe-popup
      *ngIf="showPopUp"
      (closeEvent)="closePopUp()"
    ></app-recipe-popup>
  </div>
</div>
